<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../bootstrap/css/bootstrap.css" />
<title>Criar usuário</title>
</head>
<body>
<div th:replace="header :: header"> </div>
	<form class="form-group col-md-6 offset-md-3" method="post" name="form1"
		th:action="@{/confirmar}">
	
		<div class="form-group">
			<label>NOME</label>
			<input th:field="${usuario.nome}" type="text" class="form-control"	id="nome" required/> 
		</div>
		<div class="form-group">
			<label>CPF</label> 
			<input th:field="${usuario.cpf}" type="text" class="form-control" name="ao_cpf"	id="ao_cpf" required OnBlur="ValidaCPF();"/>
		</div>
		<div class="form-group">
			<label>E-MAIL</label>
			<input th:field="${usuario.email}" type="text" class="form-control" id="email" required/>
		</div>
		<div class="form-group">
			<label>PASSWORD</label>
			<input th:name="password" th:type="password" class="form-control" id="password" required/>
		</div>
		<div class="form-group">
			<label>TELEFONE</label>
			<input th:field="${usuario.telefone}" type="text" class="form-control"	id="telefone" th:placeholder="${usuario.telefone}" required/>
		</div>
		
		<button type="submit" class="btn btn-success">CONFIRMAR</button>
		<a th:href="@{/}">
			<button type="button" class="btn btn-secondary">CANCELAR</button>
		</a>
	</form>
	
	<script>
	function ValidaCPF(){   
		  var ao_cpf=document.forms.form1.ao_cpf.value; 
		  var cpfValido = /^(([0-9]{3}.[0-9]{3}.[0-9]{3}-[0-9]{2}))$/;     
		  ao_cpf = ao_cpf.replace( /(\d{3})(\d)/ , "$1.$2"); //Coloca um ponto entre o terceiro e o quarto dígitos
		  ao_cpf = ao_cpf.replace( /(\d{3})(\d)/ , "$1.$2"); //Coloca um ponto entre o terceiro e o quarto dígitos
		  //de novo (para o segundo bloco de números)
		  ao_cpf = ao_cpf.replace( /(\d{3})(\d{1,2})$/ , "$1-$2"); //Coloca um hífen entre o terceiro e o quarto dígitos
					    
		  var valorValido = document.getElementById("ao_cpf").value = ao_cpf;
		}
	</script>
</body>
</html>